<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/login/css/main.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/dishesPage/css/main.css">
    <link rel="stylesheet" href="/dishesPage/css/style.css">
    <link rel="stylesheet" href="/dishesPage/css/colordefault.css">
    <link rel="stylesheet" href="/dishesPage/css/mobileMenu.css">
    <link rel="stylesheet" href="/cart/css/style.css">
    <link rel="stylesheet" href="/footer/footer.css">
    <link rel="stylesheet" href="/footer/style.css">
    <link rel="stylesheet" href="/login/css/util.css">

    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon"/>
    <title>Roki Taxi</title>
</head>

<body onload="selectedType('<%= dishType %>')">

<header class="header">
    <a href="/main" class="logo"><img src="/images/logo.png"></a>
    <div class="header-right">
        <a>
            <% if(login == 1){ %>
                <input type="button" value="Аккаунт" onclick="window.location.href = '/userPage'">
            <% }else{ %>
                <input type="button" value="Вхід" id="showLoginForm">
            <% } %>
        </a>
    </div>
</header>

<div class="menu">
    <svg height="30" viewBox="0 -53 384 384" width="30" class="showMenu"><g><path d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/><path d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/><path d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/></g> </svg>
    <div class="menuList">
        <ul class="menuPoints">
            <li class="pointInMenu" id="show-main-dishes" onclick="window.location.href = '/dishesPage?Login=<%= owner %>&Type=main'" ><a>Основні страви</a></li>
            <li class="pointInMenu" id="show-shacks" onclick="window.location.href = '/dishesPage?Login=<%= owner %>&Type=snack'" ><a>Снеки</a></li>
            <li class="pointInMenu" id="show-drinks" onclick="window.location.href = '/dishesPage?Login=<%= owner %>&Type=drink'" ><a>Напої</a></li>
        </ul>
    </div>
</div>

<section class="product-sesction-02 margin-top-40 margin-bottom-120" style="min-height: 46%">
    <div class="container">

        <div class="swin-sc swin-sc-product products-02 carousel-02">
            <div class="row">
                <div data-slide-toshow="5" class="cat-wrapper-02 main-slider col-md-8 slick-initialized slick-slider" role="toolbar" id="selectType">
                    <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" id="selectTypeChild">
                            <div class="item slick-slide slick-current slick-active" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 150px;" data-slick-index="0" aria-hidden="false">
                                <div class="cat-icons">
                                    <div id="firstType"  onclick="window.location.href = '/dishesPage?Login=<%= owner %>&Type=main'">
                                        <svg viewBox="0 -21 512 512" width="50" height="50">
                                            <g>
                                                <path d="m490.152344 240.304688h-17.773438c-1.664062-27.023438-8.246094-53.105469-19.636718-77.625-1.738282-3.753907-6.191407-5.378907-9.945313-3.640626-3.753906 1.742188-5.382813 6.195313-3.640625 9.949219 10.464844 22.535157 16.570312 46.492188 18.210938 71.316407h-343.070313c-4.136719 0-7.488281 3.351562-7.488281 7.488281s3.351562 7.488281 7.488281 7.488281h375.855469c3.789062 0 6.867187 3.082031 6.867187 6.871094v9.140625c0 3.789062-3.078125 6.871093-6.867187 6.871093h-468.304688c-3.789062 0-6.867187-3.082031-6.867187-6.871093v-9.140625c0-3.789063 3.078125-6.871094 6.867187-6.871094h57.539063c4.136719 0 7.492187-3.351562 7.492187-7.488281s-3.355468-7.488281-7.492187-7.488281h-24.753907c3.300782-49.753907 24.636719-96.039063 60.597657-131.046876 34.65625-33.734374 79.4375-53.59375 127.296875-56.742187.027344 0 .054687.003906.082031 0 2.039063-.132813 4.054687-.234375 6.046875-.308594.398438-.011719.792969-.03125 1.191406-.042969.710938-.023437 1.417969-.039062 2.117188-.054687 1.34375-.023437 2.6875-.046875 4.035156-.046875 1.789062 0 3.578125.035156 5.363281.082031.527344.015625 1.050781.03125 1.582031.046875 1.375.046875 2.746094.117188 4.117188.191406.726562.039063 1.453125.078126 2.183594.125 61.488281 4.039063 118.058594 36.015626 153.261718 87.289063 2.339844 3.40625 7.003907 4.277344 10.414063 1.933594 3.410156-2.339844 4.277344-7.003907 1.933594-10.414063-34.640625-50.457031-88.558594-83.503906-148.152344-92.027344 3.734375-5.796874 5.832031-12.621093 5.832031-19.769531 0-4.070312-1.816406-11.574219-13.980468-16.050781-6.074219-2.234375-14.085938-3.46875-22.554688-3.46875-8.472656 0-16.484375 1.234375-22.558594 3.46875-12.164062 4.476562-13.976562 11.980469-13.976562 16.050781 0 7.128907 2.089844 13.941407 5.800781 19.726563-45.246094 6.402344-87.210937 26.886718-120.484375 59.277344-38.871094 37.839843-61.835938 87.949218-65.160156 141.777343h-17.773438c-12.046875.003907-21.847656 9.804688-21.847656 21.851563v9.140625c0 12.050781 9.800781 21.851562 21.847656 21.851562h80.683594c-4.027344 2.757813-7.886719 5.851563-11.5 9.285157l-.148438.140624c-.230468.214844-.449218.445313-.648437.691407l-35.558594 43.179687c-4.460937-2.832031-9.742187-3.863281-14.953125-2.863281-5.433594 1.039063-10.132812 4.132813-13.234375 8.710937l-13.984375 20.621094c-6.394531 9.433594-3.925781 22.320313 5.5 28.722656l95.691406 65.007813c3.46875 2.355469 7.476563 3.582031 11.582032 3.582031 1.304687 0 2.621094-.125 3.933594-.375 5.429687-1.039062 10.128906-4.132812 13.230468-8.710937l13.984375-20.621094c6.394531-9.433594 3.929688-22.320313-5.496093-28.722656l-.546876-.371094c6.660157-7.558594 15.539063-12.976563 25.199219-15.210937 20.355469-4.714844 44.308594-1.679688 60.554688 1.011718 20.097656 3.328125 41.207031 2.191406 61.046875-3.289062l27.578125-7.621094c18.371093-5.078125 35.277343-13.628906 50.253906-25.417969.113281-.089843.222656-.179687.332031-.277343l47.347656-41.933594c8.070313-6.175782 9.828126-16.871094 7.042969-25.539063h60.414063c12.046875 0 21.847656-9.800781 21.847656-21.847656v-9.144531c0-12.046875-9.800781-21.847656-21.847656-21.847656zm-234.152344-225.324219c12.613281 0 20.171875 3.121093 21.554688 4.855469-.101563 7.105468-3.695313 13.660156-9.542969 17.589843-1.472657-.078125-2.925781-.140625-4.375-.195312-.488281-.015625-.976563-.039063-1.464844-.050781-2.089844-.0625-4.152344-.09375-6.171875-.09375-1.433594 0-2.894531.019531-4.367188.050781-.710937.011719-1.425781.03125-2.140624.054687-.851563.027344-1.710938.054688-2.570313.089844-.980469.042969-1.960937.085938-2.9375.140625-5.847656-3.929687-9.4375-10.484375-9.539063-17.585937 1.382813-1.734376 8.941407-4.855469 21.554688-4.855469zm53.710938 281.777343c-.558594-1.265624-1.226563-2.46875-1.980469-3.613281h71.839843l-31.0625 20.558594-44.277343 12.808594-1.503907.035156c8.523438-7.105469 11.632813-19.238281 6.984376-29.789063zm-81.21875-3.613281-10.808594 2.253907-8.355469-2.253907zm-84.464844 138.964844-13.980469 20.621094c-.855469 1.265625-2.152344 2.117187-3.652344 2.40625-1.496093.285156-3.019531-.027344-4.28125-.886719l-95.691406-65.007812c-2.601563-1.765626-3.28125-5.320313-1.515625-7.921876l13.984375-20.625c.855469-1.261718 2.148437-2.117187 3.648437-2.402343.363282-.070313.726563-.105469 1.085938-.105469 1.132812 0 2.238281.339844 3.195312.992188l5.167969 3.507812c0 .003906.003907.003906.003907.003906l90.519531 61.492188c2.601562 1.765625 3.28125 5.324218 1.515625 7.925781zm269.476562-125.253906c-.179687.128906-.351562.269531-.519531.417969l-47.398437 41.984374c-13.363282 10.480469-28.441407 18.089844-44.8125 22.613282l-27.578126 7.621094c-17.757812 4.910156-36.640624 5.929687-54.605468 2.953124-17.507813-2.898437-43.429688-6.144531-66.386719-.828124-13.296875 3.078124-25.4375 10.71875-34.269531 21.34375l-70.792969-48.089844 34.359375-41.726563c12.996094-12.269531 29.476562-19.554687 45.257812-20h.304688c4.894531-.082031 10.074219 1.359375 15.554688 2.894531 1.101562.304688 2.199218.613282 3.300781.910157l49.59375 13.378906c1.136719.304687 2.328125.339844 3.480469.097656l64.953124-13.542969c2.945313-.609374 6.039063-.011718 8.488282 1.648438 1.582031 1.074219 2.816406 2.550781 3.570312 4.265625 2.226563 5.050781.128906 10.980469-4.847656 13.542969l-22.160156 11.734375c-3.066406 1.625-4.613282 5.140625-3.742188 8.5.875 3.363281 3.933594 5.652343 7.410156 5.605469l32.871094-.710938c.652344-.015625 1.296875-.113281 1.917969-.292969l46.316406-13.398437c.730469-.210938 1.421875-.53125 2.054688-.949219l46.726562-30.929687c3.921875-2.421876 9.140625-4.414063 11.917969-.316407 2.164062 3.1875 2.214844 8.925781-.964844 11.273438zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" />
                                            </g>
                                        </svg>
                                    </div>
                                    <h5 class="cat-title">Основні</h5>
                                </div>
                            </div>
                            <div class="item slick-slide slick-active" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 150px;" data-slick-index="1" aria-hidden="false">
                                <div class="cat-icons">
                                    <div onclick="window.location.href = '/dishesPage?Login=<%= owner %>&Type=snack'">
                                        <svg  height="50" viewBox="0 -24 480 480" width="50">
                                            <g>
                                                <path d="m472 96h-106.664062l-37.953126-91.078125c-1.242187-2.980469-4.152343-4.921875-7.382812-4.921875h-136c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h106.457031l18 48h-60.457031c-4.417969 0-8 3.582031-8 8v48c0 4.417969 3.582031 8 8 8h8.457031l15.542969 264.472656c.25 4.230469 3.757812 7.535156 8 7.527344h160c4.242188.007812 7.75-3.296875 8-7.527344l15.542969-264.472656h8.457031c4.417969 0 8-3.582031 8-8v-48c0-4.417969-3.582031-8-8-8zm-168.503906-58.808594c-1.171875-3.125-4.160156-5.195312-7.496094-5.191406h-104v-16h122.664062l33.335938 80h-22.457031zm133.664062 298.808594h-34.96875c13.859375-12.101562 21.808594-29.601562 21.808594-48s-7.949219-35.898438-21.808594-48h40.617188zm-29.160156-48c0 26.507812-21.492188 48-48 48s-48-21.492188-48-48 21.492188-48 48-48c26.5.027344 47.972656 21.5 48 48zm-112 0c.011719 18.394531 7.960938 35.890625 21.808594 48h-34.96875l-5.648438-96h40.617188c-13.847656 12.109375-21.796875 29.605469-21.808594 48zm-8.457031 128-3.757813-64h152.429688l-3.757813 64zm156.210937-192h-167.507812l-3.757813-64h175.023438zm20.246094-80h-208v-32h208zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" />
                                                <path d="m408 384h-24c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8h24c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" /><path d="m352 384h-8c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8h8c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" /><path d="m24 432h208c13.253906 0 24-10.746094 24-24v-32c-.015625-8.21875-4.242188-15.855469-11.199219-20.230469 4.273438-7.265625 4.273438-16.273437 0-23.539062 6.957031-4.375 11.183594-12.011719 11.199219-20.230469 0-43.257812-29.921875-88-80-88h-88c-57.777344 0-88 44.273438-88 88 .015625 8.21875 4.242188 15.855469 11.199219 20.230469-4.273438 7.265625-4.273438 16.273437 0 23.539062-6.957031 4.375-11.183594 12.011719-11.199219 20.230469v32c0 13.253906 10.746094 24 24 24zm216-24c0 4.417969-3.582031 8-8 8h-208c-4.417969 0-8-3.582031-8-8v-32c0-4.417969 3.582031-8 8-8h62.953125l118.984375 31.726562c3.667969.984376 7.523438-.75 9.222656-4.152343l13.785156-27.574219h3.054688c4.417969 0 8 3.582031 8 8zm-216-64c0-4.417969 3.582031-8 8-8h192c4.417969 0 8 3.582031 8 8s-3.582031 8-8 8h-192c-4.417969 0-8-3.582031-8-8zm187.054688 24-7.292969 14.59375-54.714844-14.59375zm-123.054688-128h88c44.144531 0 64 42.105469 64 72 0 4.417969-3.582031 8-8 8h-208c-4.417969 0-8-3.582031-8-8 0-28.945312 19.199219-72 72-72zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" />
                                                <path d="m88 272h8c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" /><path d="m56 304h8c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" /><path d="m96 296c0 4.417969 3.582031 8 8 8h8c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" /><path d="m152 304h8c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" /><path d="m200 304h8c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" /><path d="m128 272h8c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" /><path d="m168 272h8c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" />
                                            </g>
                                        </svg>
                                    </div>
                                    <h5 class="cat-title">Снеки</h5>
                                </div>
                            </div>
                            <div class="item slick-slide slick-active" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 150px;" data-slick-index="2" aria-hidden="false">
                                <div class="cat-icons">
                                    <div onclick="window.location.href = '/dishesPage?Login=<%= owner %>&Type=drink'">
                                        <svg width="50" height="50" viewBox="0 0 512 512"><g><g><path d="M237.447,145.614,113.825,112.425a8,8,0,0,0-9.8,5.652L66.686,257.151a72.093,72.093,0,0,0,43.281,85.7c-.047.143-.1.284-.14.432L89.083,420.547l-7.727-2.074a7.972,7.972,0,0,0-4.106-.011L14.868,434.847a8,8,0,0,0-.042,15.464L153.9,487.65a8,8,0,0,0,7.665-13.448l-46.752-45.685a7.981,7.981,0,0,0-3.516-2l-6.761-1.816h0l20.744-77.263c.049-.181.081-.361.117-.542a72.784,72.784,0,0,0,46.238-8.786,70.9,70.9,0,0,0,34.126-43.615L243.1,155.415a8,8,0,0,0-5.653-9.8ZM128.5,464.265l-80.436-21.6,31.192-8.192,25.868,6.945Zm61.8-173.923a55.021,55.021,0,0,1-26.517,33.818,57.136,57.136,0,0,1-42.541,5.622A56.064,56.064,0,0,1,82.139,261.3l11.034-41.1a44.182,44.182,0,0,1,13.348,3.287A60.125,60.125,0,0,0,130.663,228a60.131,60.131,0,0,0,24.143-4.51A44.652,44.652,0,0,1,173.331,220a44.639,44.639,0,0,1,18.526,3.491,60.289,60.289,0,0,0,15.321,4.012Zm21.075-78.5a43.961,43.961,0,0,1-13.908-3.334A60.133,60.133,0,0,0,173.331,204a60.131,60.131,0,0,0-24.143,4.51A44.652,44.652,0,0,1,130.663,212a44.636,44.636,0,0,1-18.522-3.49,60.647,60.647,0,0,0-14.77-3.946L117.4,129.952l108.169,29.041Z" data-original="#000000" class="active-path" data-old_color="#000000"/><path d="M127.553,306.623a32.109,32.109,0,0,1-22.236-39.1L110,250.074a8,8,0,1,0-15.453-4.148l-4.685,17.448a48.167,48.167,0,0,0,33.361,58.653,8,8,0,1,0,4.328-15.4Z" data-original="#000000" class="active-path" data-old_color="#000000"/><path d="M411.03,298.311a8,8,0,0,0-11.313.065,31.812,31.812,0,0,1-13.9,8.222,32.915,32.915,0,0,1-8.038,1c-14.912,0-27.92-9.657-31.63-23.479a8,8,0,0,0-15.454,4.151c5.585,20.8,24.947,35.326,47.086,35.328a48.926,48.926,0,0,0,12.083-1.519c.063-.016.125-.032.188-.05a47.849,47.849,0,0,0,21.048-12.4A8,8,0,0,0,411.03,298.311Z" data-original="#000000" class="active-path" data-old_color="#000000"/><path d="M498.405,434.847l-62.382-16.385a7.972,7.972,0,0,0-4.106.011l-7.727,2.074-20.744-77.263c-.04-.148-.092-.289-.14-.432a72.091,72.091,0,0,0,43.282-85.7L409.249,118.077a8,8,0,0,0-9.8-5.652L275.826,145.614a8,8,0,0,0-5.652,9.8L307.513,294.49a70.889,70.889,0,0,0,34.126,43.615,72.784,72.784,0,0,0,46.238,8.786c.035.181.068.361.116.542L408.737,424.7h0l-6.759,1.815a7.979,7.979,0,0,0-3.517,2L351.708,474.2a8,8,0,0,0,7.665,13.448l139.074-37.339a8,8,0,0,0-.042-15.464ZM395.87,129.952l21.95,81.754a44.753,44.753,0,0,1-12.345-3.2,66.879,66.879,0,0,0-48.287,0,50.9,50.9,0,0,1-37.047,0,59.12,59.12,0,0,0-20.332-4.421l-12.108-45.1ZM349.483,324.16a55.015,55.015,0,0,1-26.517-33.818L304.23,220.557a47.426,47.426,0,0,1,10.291,2.933,66.874,66.874,0,0,0,48.285,0,50.906,50.906,0,0,1,37.051,0,59.577,59.577,0,0,0,22.331,4.487l8.947,33.322a56.065,56.065,0,0,1-39.113,68.482A57.118,57.118,0,0,1,349.483,324.16Zm35.288,140.1,23.375-22.843,25.868-6.945,31.191,8.192Z" data-original="#000000" class="active-path" data-old_color="#000000"/><path d="M256,64a8,8,0,0,0-8,8v40a8,8,0,0,0,16,0V72A8,8,0,0,0,256,64Z" data-original="#000000" class="active-path" data-old_color="#000000"/><path d="M226.343,125.657a8,8,0,1,0,11.314-11.314l-20-20a8,8,0,0,0-11.314,11.314Z" data-original="#000000" class="active-path" data-old_color="#000000"/><path d="M277,128a7.974,7.974,0,0,0,5.657-2.343l20-20a8,8,0,0,0-11.314-11.314l-20,20A8,8,0,0,0,277,128Z" data-original="#000000" class="active-path" data-old_color="#000000"/><path d="M256,32a8,8,0,0,0-8,8v8a8,8,0,0,0,16,0V40A8,8,0,0,0,256,32Z" data-original="#000000" class="active-path" data-old_color="#000000"/></g></g> </svg>
                                    </div>
                                </div>
                                <h5 class="cat-title">Напої</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products nav-slider slick-initialized slick-slider">
                <div aria-live="polite" class="slick-list">
                    <div class="slick-track" style="opacity: 1" role="listbox">
                        <div class="row slick-padding slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style=" left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="-1" role="option" aria-describedby="slick-slide20">
                         <% if(dishes != 0){ %>
                            <% for(let i=0; i<dishes.length; i++){ %>
                            <div class="col-md-4 col-sm-6 col-xs-12 dishesPositions">
                                <div class="blog-item item swin-transition">
                                    <div class="block-img"><img src="<%= dishes[i].Image %>" alt="" class="img img-responsive">
                                        <div class="block-circle price-wrapper"><span class="price woocommerce-Price-amount amount"><span class="price-symbol">₴</span><%= dishes[i].Price %></span></div>
                                        <div class="dish-description">
                                            <a class="dish-description"><%= dishes[i].Description %></a>
                                        </div>
                                        <div class="group-btn">
                                            <a href="javascript:void(0)" onclick="addToCart(`<%= dishes[i].DishName %>`, `<%= dishes[i].Price %>`, `<%= dishes[i].Image %>`, `<%= dishes[i].Owner %>`, `<%= dishes[i].Description %>`)" class="swin-btn btn-add-to-card" tabindex="0"><svg viewBox="0 -36 512.001 512" width="20" height="20"><g><path d="m256 219.988281c5.519531 0 10-4.480469 10-10s-4.480469-10-10-10-10 4.480469-10 10 4.480469 10 10 10zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/><path d="m472 139.988281h-59.136719l-90.96875-125.152343c-8.171875-14.003907-26.171875-18.988282-40.46875-11.070313-14.492187 8.050781-19.703125 26.304687-11.648437 40.800781.230468.410156.484375.804688.769531 1.179688l71.351563 94.242187h-171.796876l71.351563-94.242187c.28125-.375.539063-.769532.769531-1.179688 8.035156-14.460937 2.882813-32.730468-11.660156-40.808594-14.265625-7.902343-32.265625-2.921874-40.453125 11.070313l-90.972656 125.160156h-59.136719c-22.054688 0-40 17.945313-40 40 0 17.394531 11.289062 32.539063 27.191406 37.898438 1.695313 1.3125 3.8125 2.101562 6.117188 2.101562.460937 0 .894531.027344 1.347656.089844 4.304688.578125 7.714844 3.84375 8.496094 8.117187l34.019531 187.164063c2.597656 14.269531 15.011719 24.628906 29.519531 24.628906h298.617188c14.507812 0 26.921875-10.359375 29.519531-24.632812l34.019531-187.15625c.78125-4.277344 4.195313-7.542969 8.515625-8.121094.4375-.0625.871094-.089844 1.328125-.089844 2.320313 0 4.453125-.796875 6.148438-2.125 15.914062-5.394531 27.160156-20.511719 27.160156-37.875 0-22.054687-17.945312-40-40-40zm-185.011719-105.660156c-2.285156-4.730469-.511719-10.492187 4.136719-13.070313 4.839844-2.683593 10.941406-.953124 13.609375 3.855469.195313.359375.417969.703125.65625 1.03125l82.746094 113.84375h-21.15625zm-80.378906-8.179687c.238281-.328126.453125-.667969.652344-1.019532 2.675781-4.8125 8.78125-6.546875 13.601562-3.878906 4.65625 2.585938 6.4375 8.339844 4.148438 13.078125l-79.992188 105.660156h-21.15625zm265.390625 173.839843h-176c-5.523438 0-10 4.476563-10 10 0 5.523438 4.476562 9.898438 10 9.898438h154.398438c-.523438 1.492187-.9375 3.039062-1.226563 4.632812l-34.023437 187.257813c-.863282 4.757812-5.003907 8.210937-9.839844 8.210937h-298.617188c-4.839844 0-8.976562-3.453125-9.84375-8.207031l-34.019531-187.164062c-.289063-1.59375-.703125-3.140626-1.226563-4.628907h154.398438c5.523438 0 10-4.476562 10-10 0-5.523437-4.476562-10-10-10h-176c-11.121094 0-20-9.0625-20-20 0-11.027343 8.972656-20 20-20h432c11.027344 0 20 8.972657 20 20 0 11.105469-9.085938 20-20 20zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/><path d="m256 249.988281c-16.542969 0-30 13.457031-30 30v80c0 16.542969 13.457031 30 30 30s30-13.457031 30-30v-80c0-16.574219-13.425781-30-30-30zm10 110c0 5.515625-4.484375 10-10 10s-10-4.484375-10-10v-80c0-5.515625 4.484375-10 10-10 5.519531 0 10 4.480469 10 10zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/><path d="m356 389.988281c16.542969 0 30-13.457031 30-30v-80c0-16.574219-13.425781-30-30-30-16.542969 0-30 13.457031-30 30v80c0 16.542969 13.457031 30 30 30zm-10-110c0-5.515625 4.484375-10 10-10 5.519531 0 10 4.480469 10 10v80c0 5.515625-4.484375 10-10 10s-10-4.484375-10-10zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/><path d="m156 249.988281c-16.542969 0-30 13.457031-30 30v80c0 16.542969 13.457031 30 30 30s30-13.457031 30-30v-80c0-16.574219-13.425781-30-30-30zm10 110c0 5.515625-4.484375 10-10 10s-10-4.484375-10-10v-80c0-5.515625 4.484375-10 10-10 5.519531 0 10 4.476563 10 10zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/></g> </svg></a>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <h5 class="title"><a href="javascript:void(0)" tabindex="0"><%= dishes[i].DishName %></a></h5>
                                    </div>
                                </div>
                            </div>
                                <% } %>
                            <% }else{ %>
                                <h1 class="no-dishes-h1">Даний ресторан не додав жодної страви у вибраний розділ</h1>
                            <% } %>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<div class="card-with-background">
    <div class="wrap cf">
        <div class="heading cf">
            <h1>Моя корзина</h1>
            <a href="#" class="continue" onclick="hideCart()">Продовжити покупки</a>
        </div>
        <div class="cart">
            <ul class="cartWrap">
            </ul>
        </div>
        <div class="subtotal cf">
            <ul>
                <li class="totalRow"><span class="label">Замовлення:</span><span class="value orderPrice"></span></li>
                <li class="totalRow"><span class="label">Доставка:</span><span class="value" id="deliveryPrice">₴<%= deliveryPrice %></span><a style="display:none" id="onlyDeliverPrice"><%= deliveryPrice %></a></li>
                <li class="totalRow final"><span class="label">Загалом:</span><span class="value" id="finalPrice"></span></li>
                <li class="totalRow"><a href="/paymentPage?GoPay=true" class="btn continue">Оплатити</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="log-form-withBackground" style="z-index: 9999">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <svg id="closeLogin" class="close-login" height="20px" onclick="hideLogForm()" viewBox="0 0 365.71733 365" width="20px" ><g fill="#f44336"><path d="m356.339844 296.347656-286.613282-286.613281c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503906-12.5 32.769532 0 45.25l286.613281 286.613282c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082032c12.523438-12.480468 12.523438-32.75.019532-45.25zm0 0"/><path d="m295.988281 9.734375-286.613281 286.613281c-12.5 12.5-12.5 32.769532 0 45.25l15.082031 15.082032c12.503907 12.5 32.769531 12.5 45.25 0l286.632813-286.59375c12.503906-12.5 12.503906-32.765626 0-45.246094l-15.082032-15.082032c-12.5-12.523437-32.765624-12.523437-45.269531-.023437zm0 0"/></g></svg>
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="/images/img-01.png" alt="IMG">
                </div>

                <form class="login100-form validate-form">
					<span class="login100-form-title">
						Система входу
					</span>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" id="logInput" type="text" name="email" placeholder="Логін">
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" id="passInput" type="password" name="pass" placeholder="Пароль">
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="button">
                            Вхід
                        </button>
                    </div>
                    <div class="text-center p-t-136 showCancelBtn" style="visibility: hidden">
                        <a onclick="hideLogForm()">Вихід</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Roki.<span>Taxi</span></h3>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa"><svg version="1.1" id="Capa_1" width="30" x="0px" y="0px"
                               viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<circle style="fill:#2196F3;" cx="256" cy="256" r="256"/>
                    <path style="fill:#FAFAFA;" d="M384,308.928c-27.616,0-53.952-6.016-78.24-17.888c-3.808-1.824-8.224-2.112-12.256-0.736
	c-4.032,1.408-7.328,4.352-9.184,8.16l-11.52,23.84c-34.56-19.84-63.232-48.544-83.104-83.104l23.872-11.52
	c3.84-1.856,6.752-5.152,8.16-9.184c1.376-4.032,1.12-8.448-0.736-12.256c-11.904-24.256-17.92-50.592-17.92-78.24
	c0-8.832-7.168-16-16-16H128c-8.832,0-16,7.168-16,16c0,149.984,122.016,272,272,272c8.832,0,16-7.168,16-16v-59.072
	C400,316.096,392.832,308.928,384,308.928z"/>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
</svg></i>
            <p>+38 <%= contacts.phone %></p>
        </div>

        <div>
            <i class=""><svg version="1.1" id="Capa_1" width="30" x="0px" y="0px"
                             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<rect x="64" y="64" style="fill:#ECEFF1;" width="384" height="384"/>
                    <polygon style="fill:#CFD8DC;" points="256,296.384 448,448 448,148.672 "/>
                    <path style="fill:#F44336;" d="M464,64h-16L256,215.616L64,64H48C21.504,64,0,85.504,0,112v288c0,26.496,21.504,48,48,48h16V148.672
	l192,147.68L448,148.64V448h16c26.496,0,48-21.504,48-48V112C512,85.504,490.496,64,464,64z"/>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
</svg></i>
            <p><a href="mailto:<%= contacts.email %>"><%= contacts.email %></a></p>
        </div>

    </div>

    <div class="footer-right">

        <div class="footer-icons">

            <a href="<%= contacts.facebook %>">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <path style="fill:#1976D2;" d="M448,0H64C28.704,0,0,28.704,0,64v384c0,35.296,28.704,64,64,64h384c35.296,0,64-28.704,64-64V64
	C512,28.704,483.296,0,448,0z" />
                    <path style="fill:#FAFAFA;" d="M432,256h-80v-64c0-17.664,14.336-16,32-16h32V96h-64l0,0c-53.024,0-96,42.976-96,96v64h-64v80h64
	v176h96V336h48L432,256z" />
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    </svg>
            </a>
            <a href="<%= contacts.instagram %>">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="" xml:space="preserve">
                        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-46.0041" y1="634.1208" x2="-32.9334" y2="647.1917" gradientTransform="matrix(32 0 0 -32 1519 20757)">
                            <stop offset="0" style="stop-color:#FFC107" />
                            <stop offset="0.507" style="stop-color:#F44336" />
                            <stop offset="0.99" style="stop-color:#9C27B0" />
                        </linearGradient>
                    <path style="fill:url(#SVGID_1_);" d="M352,0H160C71.648,0,0,71.648,0,160v192c0,88.352,71.648,160,160,160h192
	c88.352,0,160-71.648,160-160V160C512,71.648,440.352,0,352,0z M464,352c0,61.76-50.24,112-112,112H160c-61.76,0-112-50.24-112-112
	V160C48,98.24,98.24,48,160,48h192c61.76,0,112,50.24,112,112V352z" />
                    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-42.2971" y1="637.8279" x2="-36.6404" y2="643.4846" gradientTransform="matrix(32 0 0 -32 1519 20757)">
                        <stop offset="0" style="stop-color:#FFC107" />
                        <stop offset="0.507" style="stop-color:#F44336" />
                        <stop offset="0.99" style="stop-color:#9C27B0" />
                    </linearGradient>
                    <path style="fill:url(#SVGID_2_);" d="M256,128c-70.688,0-128,57.312-128,128s57.312,128,128,128s128-57.312,128-128
	S326.688,128,256,128z M256,336c-44.096,0-80-35.904-80-80c0-44.128,35.904-80,80-80s80,35.872,80,80
	C336,300.096,300.096,336,256,336z" />
                    <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="-35.5456" y1="644.5793" x2="-34.7919" y2="645.3331" gradientTransform="matrix(32 0 0 -32 1519 20757)">
                        <stop offset="0" style="stop-color:#FFC107" />
                        <stop offset="0.507" style="stop-color:#F44336" />
                        <stop offset="0.99" style="stop-color:#9C27B0" />
                    </linearGradient>
                    <circle style="fill:url(#SVGID_3_);" cx="393.6" cy="118.4" r="17.056" />
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    </svg>
            </a>

        </div>

    </div>

</footer>

<script src="/sweetAlert/sweetalert2.all.min.js"></script>

<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendor/tilt/tilt.jquery.min.js"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<script src="/cart/js/main.js"></script>
<script src="/login/js/main.js"></script>
<script src="/dishesPage/js/main.js"></script>

</body>

</html>